.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.addTask {
  height: 30vh;
  background-color:blueviolet;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  /* padding-top: 50px; */
  flex-direction: column;
  background-color:lightblue;
  width:80%;
}
.edit{
  width: 70%;
  height: 40px;
  align-items: center;
  padding:2px;
  
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task button {
  width: auto;
  height: 20px;
  margin-left: 5px;
  text-align: center;
}
.input{
  height: 50px;
  width:80%;
  font-size: 20px;
}